.mention {
  color: #4361ee;
  font-weight: 500;
  background-color: rgba(67, 97, 238, 0.1);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

.ProseMirror {
  /* min-height: 100px; */
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: theme("colors.muted.foreground");
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* .mention {
  background-color: var(--purple-light);
  border-radius: 0.4rem;
  box-decoration-break: clone;
  color: var(--purple);
  padding: 0.1rem 0.3rem;
} */

.mention::after {
  content: "\200B";
}
